@import './base.css';

*{
  padding: 0;
  margin: 0;
}

body {
  display: flex; 
}
input{
  border: none;
  width: 100%;
  font-size: 1rem;
}
input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
#app{
  width: 100%;
}
.template-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
