@import './base.css';

*{
  padding: 0;
  margin: 0;
}

body {
  display: flex; 
}
input{
  border: none;
  width: 100%;
  font-size: 1rem;
}
input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
#app{
  width: 100%;
}
.template-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@-webkit-keyframes bounce-in {
  0% {
      opacity: 0;
      -webkit-transform: scale(.3);
      transform: scale(.3);
  }

  50% {
      opacity: 1;
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
  }

  70% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
  }

  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

@keyframes bounce-in {
  0% {
      opacity: 0;
      transform: scale(.3);
  }

  50% {
      opacity: 1;
      transform: scale(1.0);
  }

  70% {
      transform: scale(0.9);
  }

  100% {
      transform: scale(1);
  }
}
